.nav-item-profil {
  position: relative;
}

.profile-popup {
  background: #fff;
  box-shadow: 0 0 5px lightblue;
  padding: 0px;
  >li {
    background: #fff;
    border-bottom   : #ccc dotted 2px;
    padding         : 5px;
    &:last-child{
      border-bottom: none;
    }

    &:hover {
      background-color: lightblue;
      cursor          : pointer;
    }

    >a {
      color          : #000;
      text-decoration: none;
      &:hover{
        background-color: lightblue;
      }
    }
  }
}

.custom-btn {
  border    : none;
  background: transparent;

  &:focus {
    border : none;
    outline: none;
  }
}
