<div class="header-wrapper border-bottom">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Angular Auth</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false"
     aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto align-items-center">
        <li class="nav-item">
          <button class="btn btn-outline-danger btn-sm"
           routerLink="/" *ngIf="!isLoggedIn"> Sign in</button>
        </li>
        <li class="nav-item-profile" *ngIf="isLoggedIn">
        <div class="dropdown">
          <button class="btn custom-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <span>
            <!-- {{}} -->
            <img [src]="user.photoUrl? user.photoUrl: userAvatar" alt="user-avatar"
             width="40" height="40" class="rounded-circle user-avatar">
          </span>
          </button>
          <div class="dropdown-menu profile-popup" aria-labelledby="dropdownMenuButton">
            <li><a routerLink="dashboard" class="dropdown-item"><i class="fa fa-th-large"></i>Dashboard</a></li>
            <li><a routerLink="profile" class="dropdown-item"><i class="fa fa-eye"></i>View Profile</a></li>
            <li><a routerLink="profile" [queryParams]="{EditMode:true}"
              class="dropdown-item"><i class="fa fa-pencil"></i>Edit Profile</a></li>
            <li><a routerLink="change-password" class="dropdown-item"><i class="fa fa-eye"></i>change Password</a></li>
            <li><a (click)="onSignOut()" class="dropdown-item"><i class="fa fa-sign-out"></i>sign out</a></li>
          </div>
        </div>

        <!-- <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div> -->

        </li>
      </ul>
    </div>
  </div>
  </nav>
</div>
