.nav-item-profil {
  position: relative;
}

.profile-popup {
  background: #eee;
  box-shadow: 0 0 3px #ccc;

  >li {
    background-color: rgb(247, 243, 243);
    border-bottom   : #ccc dotted 2px;
    padding         : 5px;

    &:hover {
      background-color: lightblue;
      cursor          : pointer;
    }

    >a {
      color          : #000;
      text-decoration: none;
      &:hover{
        background-color: none;
      }
    }
  }
}

.custom-btn {
  border    : none;
  background: transparent;

  &:focus {
    border : none;
    outline: none;
  }
}
