<div class="row justify-content-center">
  <div class="col-md-8 card shadow px-3 py-3">
    <div class="row">
      <h2 class="col">Change Password</h2>
    </div>
    <hr/>
    <form *ngIf="!success" [formGroup]="Form" (ngSubmit)="onSubmit()">
       <div class="form-group">
         <label for=""> Enter new Password</label>
         <input type="password" class="form-control" formControlName="password" required/>
         <small *ngIf="!Form.get('password').valid && Form.get('password').touched" class="text-danger">
           Enter Password
          </small>
       </div>

       <div class="btn-row">
         <button type="submit" class="btn btn-primary mr-2">Change Password</button>
       </div>
    </form>

    <div *ngIf="success" class="alert alert-success mt-5" role="alert">
      <h4 class="alert-heading">Success!</h4>
      <p>Passowrd changed Sucessfully.</p>
    </div>
  </div>
</div>
